* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  height: 100vh;
  background: linear-gradient(
    to right bottom,
    rgba(223, 169, 164, 0.5),
    rgba(187, 55, 55, 0.8)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}
.main-container h5 {
  margin-bottom: 15px;
}

.title {
  margin-bottom: 15px;
}
.dog-container {
  display: flex;
  flex-direction: column;
}

.dog-img {
  max-width: 350px;
  border-radius: 5px;
}

.out-btn {
  margin-bottom: 15px;
  text-transform: uppercase;
  background-color: #fff;
  color: #777;
  text-decoration: none;
  padding: 15px 15px;
  border-radius: 50px;
  margin: 2px 8px;
  transition: all 0.2s;
}
.out-btn:focus {
  outline: 0;
}
.out-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.out-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.3);
}

.select-btn {
  text-transform: uppercase;
  background-color: #fff;
  margin: 15px 0;
}
